@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@charset "UTF-8";

* {
	font-family: 'Nanum Gothic';
}

/* basic */
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

/* album */
.jumbotron {
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 0;
	background-color: #fff;
}

@media ( min-width : 768px) {
	.jumbotron {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

.jumbotron h1 {
	font-weight: 300;
}

.jumbotron .container {
	max-width: 40rem;
}

footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

footer p {
	margin-bottom: 0 !important;
}

/* custom */
.nav .nav-link {
	color: #999;
	transition: ease-in-out color .15s;
}

.nav .nav-link:hover, .nav .nav-link.active {
	color: #007bff;
}

.nav-tel {
	color: rgba(0, 0, 0, .5);
	border-color: rgba(0, 0, 0, .1);
	transition: ease-in-out all .15s;
	white-space: nowrap;
}

.carousel-indicators li {
	background-color: #999
}

.carousel-indicators li.active {
	background-color: #007bff
}

/* admin */
.admin_link {
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: 0;
}