@charset "UTF-8";

$borderColor : #dee2e6;

.deleteform {
	width: 100%;
	max-width: 510px;
	margin: auto;
}

.table {
	border-top: 2px solid #999;
	border-bottom: 1px solid $borderColor;
	
	th {
		white-space: nowrap;
	}
	
	thead th:not(:last-child) {
		position: relative;
		&::before {
			content : '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 1px;
			height: 12px;
			margin: auto;
			background-color: #999;
		}
	}

	tbody th:not(:last-child) {
		position: relative;
		&::before {
			content : '';
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
			height: 16px;
			background-color: $borderColor;
		}
	}
}

.reply-list-table {
	margin-bottom: 0;	
}

.reply-form-table {
	border-top-width: 0;
	tr:first-child td {
		border-top-width: 0;
	}
} 

.read-table tbody th {
	position: relative;
	&::before {
		content : '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 1px;
		height: 12px;
		margin: auto;
		background-color: $borderColor;
	}
}

.readsubject {
	background-color: #fafafa;
}

.gallery-grid {
	margin: 0 -8px;
	opacity: 0;
	transition:opacity .3s ease;
	&.active {
		opacity:1
	}
}

.gallery-grid-item {
	width: 50%;
	padding: 8px;
	.caption {
		overflow: hidden;
		position: absolute;
		top: 8px;
		right: 8px;
		bottom: 8px;
		left: 8px;
	}
	.caption-inner {
		display: table;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.8);
		color: #fff;
		transition:top .2s ease-out;
		div {
			display:table-cell;
			vertical-align: middle;
		}
	}
}

@media ( min-width :992px) {
	.d-lg-table-column-group {
		display: table-column-group !important;
	}
	.d-lg-table-header-group {
		display: table-header-group !important;
	}
	.gallery-grid-item {
		width: 33.33%;
		&:hover .caption-inner {
			top: 0;
		}
	}
}