@charset "UTF-8";

.section-member {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 96px;
	background-color: #f5f5f5;
	min-height: calc(100vh - 56px - 43px);
}

.loginform {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.joinform {
	width: 100%;
	max-width: 640px;
	margin: auto;
}

.form-label-group {
	position: relative;
	margin-bottom: 1rem;
	> input ,
	> label {
		height : 3rem;
		padding: .75rem;
		text-align: left;
	}
	>label {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		margin-bottom: 0;
		line-height: 1.5;
		color: #495057;
		pointer-events: none;
		cursor: text;
		border: 1px solid transparent;
		border-radius: .25rem;
		transition: all .1s ease-in-out;
	}
	input::-webkit-input-placeholder {
		color: transparent;
	}	
	input:-ms-input-placeholder {
		color: transparent;
	}	
	input::-ms-input-placeholder {
		color: transparent;
	}	
	input::-moz-placeholder {
		color: transparent;
	}	
	input::placeholder {
		color: transparent;
	}
	input:not(:placeholder-shown) {
		padding-top : 1 .25rem;
		padding-bottom : .25rem;
	}	
	input:not(:placeholder-shown) ~ label {
		padding-top: .25rem;
		padding-bottom: .25rem;
		font-size: 12px;
		color: #777;
	}	
	input:not(:placeholder-shown) ~ label {
		padding-top: .25rem;
		padding-bottom: .25rem;
		font-size: 12px;
		color: #777;
	}
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
	.form-label-group>label {
		display: none;
	}
	.form-label-group input::-ms-input-placeholder {
		color: #777;
	}
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none) ,( -ms-high-contrast : active) {
	.form-label-group>label {
		display: none;
	}
	.form-label-group input:-ms-input-placeholder {
		color: #777;
	}
}

/* member custom */
.form-member .btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #0062cc;
	border-color: #005cbf;
}

.section-member {
	.form-label-group:first-of-type {
		margin-bottom: -1px;
	}
	.form-label-group:first-of-type .form-control {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}	
	.form-label-group:last-of-type .form-control {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}	
	.form-label-group:focus-within {
		z-index: 2;
	}
}

.input-group-text {
	width: 132px;
}